.Header{
    Background:url("https://live.staticflickr.com/1595/24734065265_43a00243ec_b.jpg");
	background-position:center;
    padding:4px;
	color:rgb(255,255,255);
    text-align:center;
}
.meny{
    display:grid;
    grid-template-columns:auto auto auto;
}
.meny div{
    text-align:center;
    background-color:rgb(0,0,0);
    padding:10px;
}
.meny div:hover{
    background-color:rgb(130,130,130);
    color:rgb(255,255,255);
}
.meny a{
    display:block;
    color:rgb(255,255,255);
    text-decoration:none;
}